:root {
  --main-color: #fff;
  --section-background-2: #000000;
  --main-transition: 0.4s;

}
@font-face {
  font-family: "char";
  src: url("../colfax-font/charter_regular.woff2");
}
/*Start Gloal rules*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h2{
  font-size: 2.5rem;
}
@media (max-width:576px) {
  p{
    font-size: 17px !important;
  }
  h1{
    letter-spacing: 5px !important;
  }
  h2,h1{
    font-size: 1.6rem !important;
  }
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'char', sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: visible;
}
.no-scroll {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width:100%;
}
/***** MEDIA QUERIES***************/
/**** SM-Device******/
@media (min-width:768px){
  .container{
      width: 750px;
  }

}
/*******MD-device**********/
@media (min-width:992px){
  .container{
      width: 970px;
  }
  
}
/****************XL-Device ************/
@media (min-width:1200px){
  .container{
      width: 1117px;
  }    
}
ul{
  list-style: none;
}ul li a{
  text-decoration: none;
}

/*End Global rules*/
/* Start Components */
.main-btn{
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
  border: unset;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}

.main-btn:hover {
  color: #e8e8e8;
}

.main-btn:hover::before {
  width: 100%;
}
/* Start Header  */
header {
  position: relative;
  padding: 20px 0;
  z-index: 999;
}
header nav{
  display:flex;
  justify-content: center;
  align-items: center;
}

header .main-nav{
  display: flex;
}
@media (max-width:767px) {
  header nav{
    justify-content: end;
  }
  header .main-nav{
    flex-direction: column;
    position: absolute;
    background-color: var(--main-color);
    top: 0px;
    right: -100%;
    width: 70%;
    height:calc(100vh);
    padding-top: 80px;
    gap: 20px;
    color: var(--section-background-2);
    align-items: center;
    z-index: 999;
    transition: var(--main-transition) ;
  }
}
header .main-nav > li > a {
  position: relative;
  padding: 0 20px;
  overflow: hidden;
  font-size: 16px;
  opacity:.95;
  transition:.1s;
}
header ul a:hover{
  opacity:1;
}
.hamburger{
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 9999;
}
@media (max-width:767px) {
  .hamburger{
    display: flex;
    cursor: pointer;
  }
}
.hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background:var(--section-background-2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--main-transition) ease;
}
/* Hamburger Lines - Top & Bottom */
.hamburger > .not-checked::before,
.hamburger > .not-checked::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -7px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves Line Down */

.hamburger  .not-checked::after {
  top: 7px;
}
/* animation */
.hamburger > .checked::before,
.hamburger > .checked::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0px;
  transform: rotate(90deg);
  width: 100%;
  height: 2px;
  background: inherit;
}
.hamburger > .checked {
  transform: rotate(225deg);
}
.overlay {
  position: absolute;
  width: 0px;
  height: 100vh;
  top: 0px;
  left: 0;
  bottom: 0;
  background: rgba(24, 23, 23, 0.2);
  backdrop-filter: blur(3px);
  opacity: 1;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: 1;
}
.overlay.open {
  width: 100vw;
  opacity: 1;
}
/* End Header  *******************************************************/

/* Start Hero section  && Our philosophy */
.hero{
  padding:50px 0;
}
.hero .main-title{
  font-size: 4rem;
  letter-spacing: -4px;
  text-align: center;
  margin-top: 2rem; 
  margin-bottom: 3rem;
  opacity: 0;
  transition: all 1s;
}
.hero .main-title.fadeUp{
  letter-spacing: 8px;
  opacity: 1 !important;
}
.hero .main-title span{
  white-space: nowrap;
}
.hero .container{
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 62px);
}
@media (max-width:992px) {
  .hero .container{
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
}

.hero .content{
  line-height: 1.5;
  max-width: 500px;
}
.hero .content h2{
  font-size:2.5rem;
  margin-bottom:10px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end);
}

.hero .content p{
  margin-bottom:10px;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@media (max-width:992px) {
  .hero picture{
    order: 2;
  }
}
/* End Hero section  **************************************************/
/* Start Our philosophy section */
.philosophy{
  padding: 100px 0;
}
.philosophy .container-fluid{
  display: flex;
  max-width: 1117px;
  margin: 0 auto;
  gap: 40px;
}
@media (max-width:992px) {
  .philosophy .container-fluid{
    flex-direction: column;
  }
}
.philosophy .content{
  padding-left: 15px;
  flex: 1;
}
@media (max-width:992px) {
  .philosophy .content{
    max-width: 600px;
    margin: 0 auto;
  }
  .philosophy h2{
    text-align: center;
  }
  .philosophy .photograph{
    max-width: 600px;
    margin: 0 auto;
  }
}
.philosophy .photograph{
  flex: 1;
  padding-right: 15px;
}
.philosophy  img{
  width: 100%;
  max-height: 700px !important;
}
@media (max-width:992px){
  .philosophy .photograph{
    padding: 0px;
    max-width: 600px;
    margin: 0 auto;
  }
}
.philosophy h2{
  margin-bottom:20px;
}
.content p{
  line-height: 2;
}
/* End Our philosophy section */
/* Start where section */
.where{
  padding: 50px 0;
  background-color: var(--section-background-2);
  position: relative;
  color: white;
}
.where .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  line-height: 1.4;
}
.where .info{
  flex: 1;
}

.where h2{
  font-size:2.5rem;
  margin-bottom: 20px;
}
.where svg:last-of-type{
  width: 100%;
  height: 100px;
  color: var(--section-background-2);
  position: absolute;
  top: -90px;
  left: 0;
}
.where svg:first-of-type{
  width: 100%;
  height: 100px;
  color: var(--section-background-2);
  position: absolute;
  bottom: -90px;
  left: 0;
}
.where  img{
  max-width: 300px;
  border-radius: 5px;
}
@media (max-width:767px) {
  .where .container{
    flex-direction: column;
  }
  .where img{
    max-width: 500px;
  }
}
/* End where section *************************************/
/* Start program section */
.program{
  padding-top: 100px;
  padding-bottom: 200px;
  height: fit-content;
  margin-bottom: 100px;
}
.program h2{
  padding: 30px 0;
}
.program p{
  max-width: 400px;
  line-height: 1.4;
  margin-bottom: 30px;
}
.program #showSchudle{
  width: 187px;
  margin-bottom: 30px;
}

.program .schude-wrapper{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ;
}
.program .schudel{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  overflow: hidden;
}
.program .line{
  position: absolute;
  width: 2px;
  background-color: var(--section-background-2);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.program .date{
  width: fit-content;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.program .date-id{
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--section-background-2);
  border: 2px solid var(--section-background-2);
  display: flex;
  color:var(--main-color);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.day-info{
  position: relative;
  width: fit-content;
  background-color: var(--main-color);
  padding: 10px 30px;
  border: 2px solid var(--section-background-2);
}
.day-info .day-tooltip{
  position: absolute;
  background-color: var(--section-background-2);
  color: var(--main-color);
  font-size: 12px !important;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  min-width: 140px;
  display: none;
}
.day-info .day-tooltip.left{
  left:-20px;
  top: -100%
}
.day-info .day-tooltip.right{
  right:-20px;
  top: -100%
}
.day-info .day-tooltip.bottom{
  bottom:  calc(-100% - 20px);
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width:568px) {
  .day-info:hover .day-tooltip{
    display: block;
  }
}
.multipe-event{
  display: flex;
  justify-content: space-between;
  gap: 0px;
  position: relative;
  transition:  gap 1s ease;
}
@media (max-width:567px) {
  .multipe-event{
    flex-direction: column;
    gap: 10px !important;
  }
}
.multipe-event.animated{
  gap: 30px;
}
.multipe-event::before{
  content: "";
  position: absolute;
  width: calc(100% - 40px);
  height: 2px;
  background-color: var(--section-background-2);
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: -1;
}
@media (max-width:567px) {
  .multipe-event::before{
    display: none;
  }
}
/* End program section *************************/
/* Start our guest */
.guest{
  padding: 100px 0;
  margin-top: 100px;
  background-color: var(--section-background-2);
  position: relative;
  color: var(--main-color);
}

.guest .container{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.guest svg:last-of-type{
  width: 100%;
  height: 100px;
  color: var(--section-background-2);
  position: absolute;
  transform: rotateY(180deg);
  top: -90px;
  left: 0;
}
.guest svg:first-of-type{
  width: 100%;
  height: 110px;
  color: var(--section-background-2);
  position: absolute;
  transform: rotateY(180deg);
  bottom: -90px;
  left: 0;
}
.guest h2{
  margin-bottom: 20px;
}
.guest  img{
  max-width: 300px;
  border-radius: 5px;
}
@media (max-width:767px) {
  .guest .container{
    flex-direction: column;
  }
  .guest img{
    max-width: 500px;
  }
}
@media (max-width:567px) {
  .guest .container{
    padding: 0;
  }
  .guest .our-guest{
    padding: 0 15px;
  }
}
/* ENd our guest ************************************/
/* Start Apply Section */
.apply{
  padding: 200px 0;
}
.apply h2{
  font-size: 4rem;
}
.apply .wrapper{
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
@media (max-width:767px) {
  .apply .wrapper{
    flex-direction: column;
    gap: 40px;
  }
}
.apply .btn{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
}
.apply a{
  font-size: 2rem;
}

/* End Apply Section *******************************/
/* Start Footet */
footer{
  padding: 50px 0;
  background-color: var(--section-background-2);
  color: var(--main-color);
}
footer .content-wraper{
  width: fit-content;
  margin: 0 auto;
}
footer h2{
  margin-bottom: 30px;
}
footer .contact{
  display: flex;
  gap: 20px;
}
@media (max-width:767px) {
  footer .contact{
    flex-direction: column;
    align-items: center;
  }
}
footer .contact a{
  background-color: #e8e8e8;
  border-radius: 25px;
  width: fit-content;
  height: 30px;
  padding: 0 20px;
  color: var(--section-background-2);
}
/* Start Footet **********************************/

/* Start Animation On scrolling */
.show-onload{
  opacity: 0;
  transform: translateY(-40px);
  transition: all 1s;
}
.show{
  filter: blur(0);
  transform: translateY(0);
  opacity: 1;
}
.sh-r{
  opacity: 0;
  transform: translate(30%,0px);
  transition: all 1s;
}
.sh-l{
  opacity: 0;
  transform: translate(-30%,0px);
  transition: all 1s;
}
.sh-b{
  opacity: 0;
  transform: translate(0%,30%);
  transition: all 1s;
}
.show-sh{
  opacity: 1;
  transform: translate(0,0);
}
