:root {
  --main-color: #fff;
  --main-color-alt: #1787e0;
  --section-background: #D9D9D9;
  --section-background-2: #000000;
  --main-transition: 0.4s;

}
@font-face {
  font-family: "char";
  src: url("../colfax-font/charter_regular.woff2");
}
/*Start Gloal rules*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (max-width:576px) {
  p{
    font-size: 17px !important;
  }
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'char', sans-serif;
  font-size: 20px;
}
.no-scroll {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
h2{
  font-size: 2.5rem;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width:100%;
}
/***** MEDIA QUERIES***************/
/**** SM-Device******/
@media (min-width:768px){
  .container{
      width: 750px;
  }

}
/*******MD-device**********/
@media (min-width:992px){
  .container{
      width: 970px;
  }
  
}
/****************XL-Device ************/
@media (min-width:1200px){
  .container{
      width: 1117px;
  }    
}
ul{
  list-style: none;
}ul li a{
  text-decoration: none;
}

/*End Global rules*/

/* Start Header  */
header {
  background-color: var(--section-background-2);
  color: var(--main-color);
  position: relative;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  z-index: 999;
}
header nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  height: 62px;
}
header .main-nav{
  display: flex;
}
@media (max-width:767px) {
  header .main-nav{
    flex-direction: column;
    position: absolute;
    background-color: var(--section-background-2);
    top: 62px;
    right: -100%;
    width: 70%;
    height:calc(100vh);
    padding: 20px 0;
    gap: 20px;
    align-items: center;
    z-index: 999;
    transition: var(--main-transition) ;
  }
}
header .main-nav > li > a {
  position: relative;
  padding: 0 20px;
  overflow: hidden;
  font-size: 16px;
  opacity:.95;
  transition:.1s;
}
header ul a:hover{
  opacity:1;
}
.hamburger{
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 9999;
}
@media (max-width:767px) {
  .hamburger{
    display: flex;
    cursor: pointer;
  }
}
.hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background:var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--main-transition) ease;
}
/* Hamburger Lines - Top & Bottom */
.hamburger > .not-checked::before,
.hamburger > .not-checked::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -7px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves Line Down */

.hamburger  .not-checked::after {
  top: 7px;
}
/* animation */
.hamburger > .checked::before,
.hamburger > .checked::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0px;
  transform: rotate(90deg);
  width: 100%;
  height: 2px;
  background: inherit;
}
.hamburger > .checked {
  transform: rotate(225deg);
}
.overlay {
  position: absolute;
  width: 0px;
  height: 100vh;
  top: 0px;
  left: 0;
  bottom: 0;
  background: rgba(24, 23, 23, 0.2);
  backdrop-filter: blur(3px);
  opacity: 1;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: 1;
}
.overlay.open {
  width: 100vw;
  opacity: 1;
}
/* End Header  *******************************************************/

/* Start Hero section  && Our philosophy */
.hero{
  padding:50px 0;
}
.hero .container{
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 62px);
}
@media (max-width:992px) {
  .hero .container{
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
}

.hero .content{
  line-height: 1.5;
  max-width: 500px;
}
.hero .content h1{
  font-size:2.5rem;
  margin-bottom:10px;
}

.hero .content p{
  margin-bottom:10px;
}
@media (max-width:992px) {
  .hero picture{
    order: 2;
  }
}
/* End Hero section  **************************************************/
/* Start Our philosophy section */
.philosophy{
  padding: 100px 0;
}
.philosophy .container-fluid{
  display: flex;
  max-width: 1117px;
  margin: 0 auto;
  gap: 40px;
}
@media (max-width:992px) {
  .philosophy .container-fluid{
    flex-direction: column;
  }
}
.philosophy .content{
  padding-left: 15px;
  flex: 1;
}
@media (max-width:992px) {
  .philosophy .content{
    max-width: 600px;
    margin: 0 auto;
  }
  .philosophy h2{
    text-align: center;
  }
  .philosophy .photograph{
    max-width: 600px;
    margin: 0 auto;
  }
}
.philosophy .photograph{
  flex: 1;
  padding-right: 15px;
}
.philosophy  img{
  width: 100%;
  max-height: 700px !important;
}
@media (max-width:992px){
  .philosophy .photograph{
    padding: 0px;
    max-width: 600px;
    margin: 0 auto;
  }
}
.philosophy h2{
  margin-bottom:20px;
}
.content p{
  line-height: 2;
}
/* End Our philosophy section */
/* Start where section */
.where{
  padding: 50px 0;
  background:url("../images/pricing-bg.png"),#282828;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  color: white;
}
.where .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  line-height: 1.4;
}
.where .info{
  flex: 1;
}

.where h2{
  font-size:2.5rem;
}
.where svg:last-of-type{
  width: 100%;
  height: 100px;
  color: #282828;
  position: absolute;
  top: -100px;
  left: 0;
}
.where svg:first-of-type{
  width: 100%;
  height: 100px;
  color: #282828;
  position: absolute;
  bottom: -100px;
  left: 0;
}
.where  img{
  max-width: 300px;
  border-radius: 5px;
}
@media (max-width:767px) {
  .where .container{
    flex-direction: column;
  }
  .where img{
    max-width: 500px;
  }
}
/* End where section *************************************/
/* Start program section */
.program{
  padding: 100px 0;
  min-height: 1000px;
}
.program h2{
  padding: 30px 0;
}
.program p{
  max-width: 400px;
  line-height: 1.4;
  margin-bottom: 30px;
}
.program #showSchudle{
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid var(--section-background-2);
  border-radius: 50px;
  margin-bottom: 30px;
}
.program .schude-wrapper{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in;
}
.program .schudel{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.program .line{
  position: absolute;
  width: 2px;
  background-color: var(--section-background-2);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.program .date{
  width: fit-content;
  height: 110px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.program .date-id{
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--main-color);
  border: 2px solid var(--section-background-2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.day-info{
  width: fit-content;
  background-color: var(--main-color);
  padding: 10px 30px;
  border: 2px solid var(--section-background-2);
}
.multipe-event{
  display: flex;
  justify-content: space-between;
  gap: 0px;
  position: relative;
  transition:  gap 2s ease;
}
.multipe-event.animated{
  gap: 30px;
}
.multipe-event::before{
  content: "";
  position: absolute;
  width: calc(100% - 40px);
  height: 2px;
  background-color: var(--section-background-2);
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: -1;
}
/* End program section *************************/